<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://localhost:4567/css/box.css">
        <title>hoge</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">ぎっちょはぶ</a>
            </button>
        </nav>

        <div class="mx-auto text-lg-center" style="margin-top: 10%;">
            <h1 style="font-size: 100px"> Welcome to ぎっちょはぶ</h1>
            <h1 style="font-size: 50px"> Please <a href="http://localhost:4567/login">login</a> or <a href="http://localhost:4567/register">register</a></h1>
        </div>
    </body>
</html>
